/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.numberSelect {
    cursor:  pointer;
}

body, html {
    padding: 0;
	height: 100%;
}

#wrap {
  min-height: 100%;
}

a {
	color: #338ddc;
	text-decoration: underline;
}

a:hover {
	color: #338ddc;
	text-decoration: none;
}

.page-main .container {
	padding-left: 20px;
	padding-right: 20px;
}


.navbar-fixed-top {
	position:relative;
	margin-left: 0;
	margin-right: 0;
}

.navbar {
    color: #fff;
}

.navbar .container {
	min-height: 65px;
	max-height:65px;
	padding-top: 15px;
}

.fb-like {
	max-width:140px !important;
}

.fb-like span {
	vertical-align:baseline !important;
}

.navbar form {
    margin: 0;
}

.navbar-inverse .navbar-inner {
	background-color: #2c2c2c;
	background-image: none;
	padding: 0 10px;
}

.navbar .brand {
	float: left;
	width: 180px;
	height: 50px;
	background: url(../img/logo-flybill.png) no-repeat left center;
	padding: 0;
	margin: 0 35px 0 0;
}

.navbar-console .hold {
    color: #338DDC;
    font-style: italic;
}

.navbar-inverse .nav>li>a.notific {
    margin-right: 5px;
}

.navbar-inverse .nav>li>a.notific:focus, .navbar-inverse .nav>li>a.notific:hover {
    border-bottom: 0;
    
}

.navbar .nav {
	margin-top: 5px;
}

.navbar .nav>li>a,
.navbar .nav>li>.dropdown>a {
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
    text-decoration: none;
    outline: 0;
}

.navbar .nav>li>.dropdown>a {
    text-transform: none;
}

.dropdown-menu li a {
    display: block;
    text-decoration: none;
}

.navbar .nav>li {
    padding: 0 10px;
    margin: 10px 0;
}

.nav .dropdown {
    display: inline-block;
    vertical-align: top;
}

.navbar-inverse .nav .active, 
.navbar-inverse .nav .active:hover, 
.navbar-inverse .nav .active:focus {
	border-bottom: 2px solid #fff;
	background-color: transparent;
	box-shadow: none;
}

.navbar-inverse .nav>li>a:focus, 
.navbar-inverse .nav>li>a:hover {
	border-bottom: 2px solid #fff;
}

.navbar .nav .spec a {
	color: #338ddc;
	margin-left: 40px;
	border-bottom: 2px solid #338ddc;
}


.navbar .nav .spec a:hover {
	color: #338ddc;
	border: 0;
}

.navbar .langs {
	margin: 13px 0 0 10px;
	display: inline-block;
}

.navbar-console .langs {
    margin: 0;
}

.navbar .langs a {
	display: inline-block;
	width: 25px;
	height: 24px;
	background: url(../img/flags.png) no-repeat;
	margin-left: 3px;
}

.navbar .langs .eng {
	background-position: -25px 0;
}

.navbar-console .pull-right .nav > li {
    border-right: 1px dotted #666;
}

.navbar-console .pull-right .nav li.last {
    border-right: 0;
}

.navbar-console .pull-right .nav > li > a {
    display: inline-block;
    text-transform: none;
}

.navbar-console .pull-right .nav li.spec a {
    margin-left: 0;
}

.top-promo {
	background-color: #338ddc;
	background-image: -moz-linear-gradient(top,#338ddc,#2172b9);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#338ddc),to(#2172b9));
	background-image: -webkit-linear-gradient(top,#338ddc,#2172b9);
	background-image: -o-linear-gradient(top,#338ddc,#2172b9);
	background-image: linear-gradient(to bottom,#338ddc,#2172b9);
	background-repeat: repeat-x;
	border-color: #338ddc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff338ddc',endColorstr='#ff2172b9',GradientType=0);
	position: relative;
}

.top-promo .container {
	background: url(../img/top-promo-map.jpg) no-repeat;
	height: 380px;
	position: relative;
}

.hero-unit {
	background-color: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #fff;
	padding: 65px 0 0 30px;
	margin-left:-30px;
    overflow: hidden;
}

.hero-unit h1 {
	font-size: 41px;
	margin: 0 0 15px;
	position: relative;
	z-index: 3;
}

.hero-unit .promo-descr {
	margin-left: 0;
	font-size: 14px;
    line-height: 22px;
    position: relative;
	z-index: 2;
}

.promo-phone {
	width: 406px;
	height: 217px;
	background: url(../img/promo-phone.png) no-repeat;
	position: absolute;
	top: 85px;
	right: 75px;
	z-index: 2;
}

.hero-unit .reg-btn {
	background: #fff;
	width: 215px;
	padding: 15px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: #338ddc;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
}

.hero-unit .enter-btn {
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	border-bottom: 2px solid #FFF;
	margin-left: 20px;
	text-decoration: none;
}

.hero-unit .enter-btn:hover {
	text-decoration: none;
	border: 0;
}

.hero-unit .reg-btn:hover {
	text-decoration: none;
	box-shadow: 0 0 19px #00437E;
}

.promo-top-bottom {
	background: url(../img/promo-top-bottom.png) no-repeat center bottom;
	width: 100%;
	height: 76px;
	bottom: 0;
	position: absolute;
}

.promo-3angl-1 {
	position: absolute;
	width: 537px;
	height: 356px;
	background: url(../img/promo-3angl-1.png) no-repeat;
	top: 5px;
	right: 40px;
}

.promo-3angl-2 {
	position: absolute;
	width: 371px;
	height: 321px;
	background: url(../img/promo-3angl-2.png) no-repeat;
	top: 5px;
	right: 145px;
}

.promo-3angl-3 {
	position: absolute;
	width: 100%;
	max-width: 711px;
	height: 83px;
	background: url(../img/promo-3angl-3.png) no-repeat;
	bottom: -25px;
	left: 50%;
	margin-left: -440px;
	z-index: 2;
}

h2 {
	margin: 20px 0 20px;
	color: #338ddc;
	font-size: 34px;
	letter-spacing: -1px;
	font-weight: bold;
	text-align: center;
}

h3 {
	letter-spacing: -1px;
	line-height: 30px;
}

.services {
	position: relative;
	margin-top: 20px;
}

.services .title {
	color: #222;
	text-decoration: none;
	display: block;
	overflow: hidden;
}

.services .title h3 {
	margin: 10px 0;
	float: left;
	border-bottom: 2px solid #222;
	line-height: 30px;
}

.services h3:hover {
	border-bottom: 2px solid transparent;
}

.services .span6 {
	position: relative;
	z-index: 2;
}

.polygon-1 {
	width: 100%;
	height: 329px;
	position: absolute;
	top: -50px;
	left: 0;
	background: url(../img/polygon-1.png) no-repeat ;
}

.polygon-2 {
	width: 100%;
	height: 353px;
	position: absolute;
	top: -200px;
	right: 0;
	background: url(../img/polygon-2.png) no-repeat 90% 0;
	z-index: 1;
}

.polygon-3 {
	width: 100%;
	height: 427px;
	position: absolute;
	bottom: -200px;
	left: 0;
	background: url(../img/polygon-3.png) no-repeat 3% 0;
	z-index: 2;
}

.polygon-4 {
	width: 100%;
	height: 279px;
	position: absolute;
	bottom: 100px;
	left: 0;
	background: url(../img/polygon-4.png) no-repeat 25% 100%;
	z-index: 2;
}

.premium-sms-circle {
	width: 100%;
	max-width: 281px;
	height: 281px;
	background: url(../img/premium-sms-circle.png) no-repeat;
	margin: 0 auto;
	padding: 100px 50px 0;
	position: relative;
}

.premium-sms-content {
	position: relative;
	z-index: 2;
}

.premium-sms-3angle {
	width: 370px;
	height: 387px;
	background: url(../img/premium-sms-3angle.png) no-repeat;
	position: absolute;
	top: -10px;
	left: -20px;
}

.more-tariffs {
	width: 198px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: url(../img/more-tariffs.png) no-repeat;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
}

.more-tariffs a {
	color: #fff;
	margin: 0 20px;
	text-decoration: underline;
}

.more-tariffs a:hover {
	text-decoration: none;
}

.advant {
	background: #d7e6f3;
	margin: 110px 0 80px;
	position: relative;
}

.advant h2 {
	position: relative;
	z-index: 3;
}

.advant .container {
	padding-bottom: 50px;
	text-align: center;
}

.advant-3angl-1 {
	width: 100%;
	height: 602px;
	background: url(../img/advant-3angl-1.png) no-repeat 18% 50%;
	position: absolute;
	top: -80px;
	left: 0;
	z-index: 2;
}

.advant-3angl-2 {
	width: 100%;
	height: 565px;
	background: url(../img/advant-3angl-2.png) no-repeat 88% 50%;
	position: absolute;
	top: -80px;
	left: 0;
	z-index: 2;
}

.advant-top {
	background: url(../img/advant-top.jpg) no-repeat 50% 0;
	height: 62px;
	position: absolute;
	top: -62px;
	left: 0;
	width: 100%;
	z-index: 1;
}

.advant-bottom {
	background: url(../img/advant-bottom.jpg) no-repeat 50% 0;
	height: 45px;
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 100%;
	z-index: 1;
}

.advant .item {
	float: none;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-bottom: 20px;
}

.advant .item img {
	float: left;
	margin-right: 20px;
}

.advant .item .text {
	margin-left: 161px;
	position: relative;
	z-index: 3;
}

.resp-slider {
	margin: 40px 0;
	position: relative;
}

.resp-slider .slide {
	margin: 0 auto;
	float: none;
	padding: 0 150px;
}

.resp-slider .photo {
	float: left;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	width: 115px;
	height: 115px;
}

.resp-slider .text {
	margin-left: 140px;
}

.resp-slider .author {
	text-align: right;
	color: #858585;
	font-style: italic;
}

.resp-slider .author:before {
	content: "— ";
	color: #858585;	
}

.resp-slider .arrow {
	width: 69px;
	height: 96px;
	opacity: .5;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -48px;
}

.resp-slider .arrow a {
	position: absolute;
	width: 100%;
	height: 100%;
}

.resp-slider .arrow:hover {
	opacity: 1;
	cursor: pointer;
}

.resp-slider .to-left {
	background: url(../img/to-left.png) no-repeat;
	left: 20px;
}

.resp-slider .to-right {
	background: url(../img/to-right.png) no-repeat;
	right: 20px;
}

.footer {
	background: #2c2c2c;
	padding-top: 35px;
	color: #fff;
	position: relative;
}

.footer .container {
	position: relative;
	z-index: 3;
}

.footer h4 {
	color: #fff;
	font-size: 25px;
	margin: 0 0 30px;
}

.footer .news {
	overflow: hidden;
}

.footer .news .item {
	margin-bottom: 15px;
}

.footer .news .date {
	color: #fff;
	float: left;
}

.footer .news .title {
	margin-left: 65px;
	display: block;
}

.footer .contacts {
	font-size: 20px;
	margin-bottom: 20px;
}

.footer .contacts .item {
	margin-bottom: 10px;
}

.footer .contacts a {
	color: #fff;
}

.footer .contacts .item i {
	display: inline-block;
	width: 49px;
	height: 47px;
	background: url(../img/contacts.png) no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}

.footer .contacts .c-email i {
	background-position: 0 -47px;
}

.footer-bottom {
	/*margin-top: 50px;*/
	background: url(../img/footer-grad.png) repeat-x;
	position: relative;
	z-index: 3;
}

.footer-bottom .container {
	position: relative;
	line-height: 100px;
}

.footer .copy {
	float: left;
}

.footer-logo {
	position: absolute;
	width: 84px;
	height: 50px;
	background: url(../img/logo-flybill-footer.png) no-repeat;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -42px;
}

.cs-logo {
	float: right;
	height: 100px;
	line-height: 100px;
	background: url(../img/cs-logo.png) no-repeat 0 50%;
	padding-left: 47px;
	color: #fff;
	text-decoration: none;
}

.cs-logo:hover {
	text-decoration: underline;
}

.footer-reg {
	background: #d7e6f3;
	padding: 40px 0;
	text-align: center;
	margin-top: 30px;
}

.footer-reg a {
	display: inline-block;
	padding: 20px 40px;
	background: #338ddc;
	color: #fff;
	font-size: 22px;
	border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	text-decoration: none;
	font-weight: bold;
	position: relative;
	z-index: 3;
}

.footer-reg a:hover {
	background: #216CAD;
}

.footer-console {
    padding-top: 0;
	margin-top: -100px;
	clear:both;
}

.footer-console .footer-bottom {
    margin-top: 0;
}

.console-block {
    border: 1px solid #e4e4e4;
    padding: 0 20px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.console-block .btn {
    text-decoration: none;
    margin-top: 10px;
}

.console-block h2 {
    font-size: 26px;
}

.console-summary .field {
    margin-bottom: 10px;
}

.console-summary .field div {
    display: inline-block;
    vertical-align: middle;
}

.console-summary .field .title {
    width: 150px;
    font-weight: bold;
}

.console-summary .field .status {
    width: 19px;
    height: 19px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.console-summary .field .status-up {
    background-image: url(../img/arrow-up.png);
}

.console-summary .field .status-down {
    background-image: url(../img/arrow-down.png);
}

.console-summary .field-balance {
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #e4e4e4;
}

.console-block-summary,
.console-block-graph {
    min-height: 253px;
}


.console-block-notice,
.console-block-news {
}

.console-block-notice .btn,
.console-block-news .btn {
    display: block;
}

.console-block .notice .item,
.console-block .news .item {
    margin-bottom: 7px;
    padding: 3px 5px;
}

.console-block .notice .item-new,
.console-block .news .item-new {
    background: #f3f3f3;
    border-radius: 5px;
}

.console-block .notice .item-new {
    font-weight: bold;
}

.console-block .notice .date,
.console-block .news .date {
    color: #808080;
    font-size: 90%;
    font-style: italic;
    font-weight: normal;
}

.console-block .news {
    margin-bottom: 10px;
}

.console-block .news .title {
    font-weight: bold;
    margin: 4px 0;
    display: inline-block;
}

@media (min-width: 1200px) {
	.navbar .container {
		background: none;
		background: url(../img/reg-shadow.png) no-repeat 48% 0;
	}
    
    .navbar-console .container {
        background-position: 49% 0;
    }
}

@media (max-width: 979px) {
	body {
		padding-top: 0;
	}

	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.promo-phone,
	.promo-3angl-1,
	.promo-3angl-2 {
		display: none !important;
	}

	.nav-collapse.in.collapse {
		top: 25px;
	}

	.hero-unit .promo-descr {
		width: 100%;
	}

	.navbar .pull-right {
		float: none;
		text-align: center;
        padding-bottom: 20px;
	}

	.navbar .langs {
		text-align: center;
		padding-bottom: 20px;
        margin: 10px 0 0;
	}

	.navbar-inverse .nav-collapse .nav>li>a, 
	.navbar-inverse .nav-collapse .dropdown-menu a {
		padding: 8px;
	}

	.navbar-inverse .nav-collapse .nav>li>.active {
		border: 0;
		background: #111;
	}

	.navbar-inverse .nav-collapse .nav>li>a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover,
	.navbar-inverse .nav-collapse .nav .spec a:hover {
		border: 0;
	}

	.navbar-inverse .nav-collapse .nav .spec a {
		margin: 10px 0;
		color: #338ddc;
		border: 0;
	}

	.navbar-inverse .nav-collapse .nav .spec {
		border-top: 1px solid #444;
	}
    
    .navbar-console .pull-right .nav li {
        border-right: 0;
    }
}

@media (max-width: 767px) {
	.resp-slider .photo {
		float: none;
		margin: 0 auto 20px;
		display: block;
	}

	.resp-slider .slide {
		padding: 0;
	}

	.resp-slider .arrow {
		margin-top: -125px;
	}

	.resp-slider .text {
		margin-left: 0;
	}

}

@media (max-width: 768px) {
        .console-block {
        padding: 10px;
        margin: 0 -10px 10px; 
    }
    
    .console-block h2 {
        margin-top: 0;
    }

}

@media (max-width: 480px) {
    .promo-3angl-1,
    .promo-3angl-2,
    .promo-3angl-3,
    .premium-sms-3angle,
    .advant-3angl-1,
    .advant-3angl-2,
    .polygon-1,
    .polygon-2,
    .polygon-3 {
        display: none !important;
    }
    
    .advant .item .text {
        margin-left: 0;
        clear: both;
    }
    
    .fb_iframe_widget > span,
    .fb_iframe_widget > span iframe {
        width: 260px !important;
    }
    
    .premium-sms-circle {
        /*padding: 100px 20px 0;*/
        background-position: center center;
        margin-left: -20px;
        margin-right: -20px;
        width: auto;
    }
    
    .promo-descr p:last-child {
        text-align: center;
    }
    
    .promo-descr .enter-btn {
        margin-top: 15px;
        display: inline-block;
    }
        
}

@media (max-width: 979px) and (min-width: 768px) {
	.services .span6 {
		margin-left: 30px
	}
}

/* inner page styles */

.page-inner-console {
	padding-bottom:100px;
}

.page-inner .top-promo .container {
	height: 170px;
	background: 0;
}

.page-inner .promo-3angl-1,
.page-inner .promo-3angl-2 {
	opacity: .5;
}

.page-inner .hero-unit {
	padding-top: 50px;
}

.page-inner h2 {
	text-align: left;
}

.page-inner .content {
	position: relative;
}

.page-inner .content .content-inner {
    padding: 40px 0 30px;
	position: relative;
	z-index: 2;
}

.datacheck{
	margin-left:15px;
	font-size:13px;
}

.red{
	color:red;
}

.form-horizontal .control-label {
	width: 300px;
}

.form-horizontal .controls { 
	margin-left: 320px;
}

#notifsDiv .item:hover {
	cursor:pointer;
	background: #dbdbdb;
	border-radius: 5px;
}


.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }

.box-modal { 
background: #FFFFFF;
border-radius: 6px;
box-shadow: 0px 0px 0px 6px rgba(153, 153, 153, 0.298);
color: #3C3C3C;
padding: 16px;
position: relative;
width: 500px;
}

.box-modal .form-horizontal input[type="text"], .box-modal .form-horizontal textarea { 
width: 286px;
}

.box-modal input[type="text"], .box-modal textarea {
width:486px;
}

.box-modal_close { 
color: #999999;
cursor: pointer;
font-size: 11px;
line-height: 15px;
position: absolute;
right: 10px;
top: 6px;
}

.g-hidden, .g-hidden2 { 
display: none;
}

.clear-fix {
	clear:both;
}

.box-modal h2 { 
	font-size: 26px;
}

.dotted-link { 
color: #338DDC;
text-decoration: none;
border-bottom:1px dotted;
cursor:pointer;
}

.dotted-link:hover, .dotted-link:focus { 
border:none;
}

.box-modal .form-horizontal .control-label { 
width: 180px;
}

.box-modal .form-horizontal .controls { 
margin-left: 200px;
}

.box-modal .form-horizontal select { 
width: 100%;
}

.box-modal .datacheck { 
color:red;
padding: 5px 20px;
float:right;
}

.analytics-pref .control-label { 
width: 120px;
}

.analytics-pref .control-label { 
float: left;
padding-top: 5px;
text-align: left;
}

.analytics-pref select { 
width: 208px;
}





/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 2.x
 *
 * Copyright 2013 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Built for http://www.improvely.com
 */

.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3000;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
  float: right;
  margin: 4px;
}

.daterangepicker .ranges {
  width: 160px;
  text-align: left;
}

.daterangepicker .ranges .range_inputs>div {
  float: left;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
  padding-left: 11px;
}

.daterangepicker .calendar {
  max-width: 250px;
}

.daterangepicker .calendar.single .calendar-date {
  border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
}

.daterangepicker .ranges label {
  color: #333;
  font-size: 11px;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff;
}

.daterangepicker .ranges input {
  font-size: 11px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: #08c;
  border: 1px solid #08c;
  color: #fff;
}

.daterangepicker .calendar-date {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}

.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.daterangepicker td.off {
  color: #999;
}

.daterangepicker td.disabled {
  color: #999;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background: #eee;
}

.daterangepicker td.in-range {
  background: #ebf4f8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
  width: 60px;
  margin-bottom: 0;
}

.daterangepicker_start_input {
  float: left;
}

.daterangepicker_end_input {
  float: left; 
  padding-left: 11px
}

.daterangepicker th.month {
  width: auto;
}